@charset "UTF-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

body,
html {
  min-width: 1180px;
  overflow-x: scroll;
}

html {
  color: #000;
  overflow-y: scroll;
  overflow: -moz-scrollbars;
}

body,
button,
input,
select,
textarea {
  font: 12px/1.5 Arial, 'Avenir', Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

em {
  font-style: normal;
}

small {
  font-size: 12px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

legend {
  color: #000;
}

fieldset,
img {
  border: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  -ms-interpolation-mode: bicubic;
}

textarea {
  resize: vertical;
}

.left {
  float: left;
}

.right {
  float: right;
}

.overflow {
  overflow: hidden;
}

.hide {
  display: none;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

label,
button {
  cursor: pointer;
}

.clearfix:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}

.clearfix {
  zoom: 1;
}

.clear {
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
  visibility: hidden;
  overflow: hidden;
}

html {
  overflow: hidden;
}

html,
body {
  height: 100%;
  overflow-x: auto;
}

body {
  background: #FAFAFB;
}

body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #82858a;
}

body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #82858a;
}

body input:-ms-input-placeholder,
body textarea:-ms-input-placeholder {
  color: #82858a;
}

body input::-webkit-input-placeholder,
body textarea::-webkit-input-placeholder {
  color: #82858a;
}

input::-webkit-search-cancel-button {
  display: none;
}

input[type=search]::-ms-clear {
  display: none;
}

.p26 {
  padding: 0 26px;
}

.bg-empty {
  width: 100%;
  height: 12px;
  background: #F5F5F5;
}

.minPanel {
  border-radius: 3px;
}

/* 自定义滚动条样式 */
.scrollbar {
  /*滚动条整体样式*/
  /*滚动条里面小方块*/
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 6px;
  box-shadow: inset 0 0 1px #4b4f56;
  -webkit-box-shadow: inset 0 0 1px #4b4f56;
  background: #4E5259;
}

.line-hover-powder:hover {
  background: linear-gradient(to left, #eb7f9a, #faac99) !important;
}

.line-hover-blue:hover {
  background: linear-gradient(to left, #5386cd, #5dcdb2) !important;
}

.line-hover-defaut:hover {
  border: 1px solid rgba(255, 255, 255, 0) !important;
  color: #fff !important;
  background: linear-gradient(to left, #eb7f9a, #faac99) !important;
}

/* btn */
.w-btn {
  width: 100px;
  height: 38px;
  line-height: 38px;
  display: inline-block;
  border-radius: 19px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border: none;
  background: linear-gradient(to right, #4BC7A9, #3F77C8);
}

.w-btn-primary {
  background-color: #568EAE;
  color: #fff;
  border-color: #568EAE;
}

.w-btn-danger {
  background-color: #F05F5C;
  color: #fff;
  border-color: #F05F5C;
}

.w-btn-success {
  background-color: #468CC8;
  color: #fff;
  border-color: #468CC8;
}

.w-btn-info {
  background-color: #7E96AF;
  color: #fff;
  border-color: #7E96AF;
}

.w-btn-disabled {
  background-color: #f5f5f5;
  color: #ccc;
  border-color: #e5e5e5;
  cursor: no-drop;
}

.w-btn-dismal {
  background-color: #BECAD7;
  color: #fff;
  border-color: #BECAD7;
}

.color-btn-liner {
  border-radius: 20px;
  border: none;
  background: linear-gradient(to right, #FBAD8C, #E5658F) !important;
}

/* 重置 element-ui样式 */
/* reset element-ui.css */
.el-table {
  margin-top: 15px;
}

.el-table table {
  display: block;
  font-size: 14px;
  text-align: center;
  width: 100%;
}

.el-table table th {
  margin-top: 20px;
  font-weight: 500;
}

.el-table table tr {
  height: 40px;
  border-bottom: 1px solid #ccc;
}

.el-table table .cell {
  text-align: center;
}

.el-table.noborder tbody td {
  border-bottom: 0;
}

/************ el-button ************/
.el-button {
  height: 35px;
  line-height: 13px;
  padding: 12px 16px;
}

.el-table .el-button {
  border: none;
  margin-right: 5px;
  color: #606266;
  font-size: 12px;
  background: none;
}

.el-table .el-button:hover {
  color: #f00;
  text-decoration: underline;
}

/************ el-select ************/
.el-input__inner {
  height: 30px;
  line-height: 30px;
}

.el-select {
  width: 150px;
}

.el-select .el-input__icon {
  line-height: 30px;
}

.el-input {
  width: 150px;
}

/************ date-picker ************/
.date-picker .el-date-editor--datetimerange.el-input__inner {
  width: 340px;
}

.date-picker .el-date-editor .el-range__icon,
.date-picker .el-date-editor .el-range-separator {
  line-height: 25px;
}

/************ el-table ************/
.el-table {
  border-top: 1px solid #EDEDED;
  padding-top: 30px;
  margin: 0;
}

.el-table th {
  background: #f5f5f5;
}

.el-table .el-table__header-wrapper {
  border-top: 1px solid #EDEDED;
}

.el-dialog__wrapper {
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
}

.el-dialog__header {
  padding: 30px;
}

.createUnionP .el-dialog__header {
  padding: 30px 0 30px 0;
}

.el-dialog__title {
  font-size: 26px;
}

.el-dialog__headerbtn {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  border: 1px solid #8BA0B7;
  text-align: center;
  line-height: 32px;
  color: #8BA0B7;
  right: 8px;
  top: 8px;
}

.el-dialog__body {
  padding: 0 0 28px 0;
}

.createUnionP .el-dialog__body {
  padding: 0 0 28px 0;
}

/* pagination */
.el-pagination {
  width: 100%;
  margin-top: 40px;
}

.el-pager li,
.el-pagination .btn-next,
.el-pagination .btn-prev {
  background-color: transparent;
}

.el-pagination .btn-prev,
.el-pagination .btn-next {
  color: #666;
  border-radius: 3px;
  height: 28px;
  width: 28px;
  padding: 0;
  min-width: auto;
  border: 1px solid #222831;
}

.el-pagination .btn-prev i.el-icon,
.el-pagination .btn-next i.el-icon {
  display: inline-block;
}

.el-pagination__total {
  color: inherit;
  margin-right: 40px;
}

.el-pagination__jump {
  margin-left: 40px;
  color: inherit;
}

.el-pagination__jump .el-input__inner {
  color: inherit;
}

.paging {
  padding-bottom: 20px;
  text-align: center;
}

.paging .btn-prev {
  margin-right: 55px;
}

.paging .current {
  position: relative;
  bottom: -25px;
  width: 55px;
  left: -23px;
  text-align: center;
  display: inline-block;
}

.pagination-warrp .btn-prev {
  margin-right: 55px;
}

.pagination-warrp .current {
  position: relative;
  bottom: 0;
  width: 55px;
  left: 168px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 引入公用组件的样式 */
/* 一些公用组件 不变部分的样式 */
/* position */
.position {
  padding: 5px 0 30px;
  font-size: 12px;
}

.font-mark {
  font-style: normal;
  background: linear-gradient(to right, #E5658F, #FBAD8C);
  -webkit-background-clip: text;
  color: transparent;
}

/* minPanel */
.minPanel {
  margin-bottom: 20px;
}

.minPanel-hd {
  color: #82858A;
  position: relative;
  display: flex;
  padding: 14px 11px 10px 11px;
  box-sizing: border-box;
  justify-content: space-between;
  line-height: 15px;
}

.minPanel-hd .caption {
  font-size: 14px;
}

.minPanel-hd .caption-r {
  font-size: 14px;
}

.minPanel-hd .icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  margin-left: 6px;
}

/*
  * linear-gradient有三个参数。第一个参数表示线性渐变的方向，top是从上到下、left是从左到右，如果定义成left top，那就是* 从左上角到右下角。第二个和第三个参数分别是起点颜色和终点颜色。
*/
.progress-box .el-progress-bar__outer {
  height: 18px !important;
}

.progress-box .el-progress-bar__inner {
  border-radius: 0;
  background: linear-gradient(to right, #E5658F, #FBAD8C);
}

/**
 *  此处可引入各非公用组件的样式
 *  如: @import './dashboard';
 */
